/* Navbar Hover Effect */
.custom-link {
  position: relative;
  transition: color 0.3s ease;
}

.custom-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0d6efd;
  transition: width 0.3s ease;
}

.custom-link:hover::after {
  width: 100%;
}

.custom-link:hover {
  color: #0d6efd !important;
}

/* hero */
.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);  
  box-shadow: 0 10px 20px rgba(13, 110, 253, 0.2) !important;
  transition: all 0.3s ease;
}

/* Project Card Image Hover */
.project-card {
  transition: all 0.3s ease;
  overflow: hidden;
}

.project-img {
  transition: transform 0.5s ease;
}

.project-card:hover .project-img {
  transform: scale(1.1);
}

.project-card:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1) !important;
}

/* Header Tracking */
.tracking-wider {
  letter-spacing: 0.15rem;
  font-size: 0.9rem;
}

/* Contact Hover */
.hover-primary {
  transition: color 0.3s ease;
  text-decoration: none;
}

.hover-primary:hover {
  color: #0d6efd !important;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
}

.skill-card {
  padding: 3rem !important;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* App.css ထဲမှာ မြန်မာစာ ဖတ်ရတာ ပိုရှင်းသွားအောင် */
p.lead {
  line-height: 1.8;
}